<!-- <div
  class="flex justify-between items-center h-[15vh] bg-cover pr-10"
  style="
    background-image: url('/assets/images/bg-order-summary.png');
    background-repeat: no-repeat;
  "
>
  <div class="card px-8">
    <a href="">
      <img src="/assets/images/logo.svg" alt="Logo" width="140px" />
    </a>
  </div>
  <div class="card mx-4">
    <ul class="flex gap-4 text-gray-500 font-bold">
      <li>
        <a>HOME</a>
      </li>
      <li>
        <a>ABOUT US</a>
      </li>
      <li>
        <a>CREATE YOUR PLAN</a>
      </li>
    </ul>
  </div>
  <div class="card flex items-center space-x-4">
    <ul class="flex gap-4">
      <li>
        <a><img src="/assets/images/icon-facebook.svg" alt="" /></a>
      </li>
      <li>
        <a><img src="/assets/images/icon-twitter.svg" alt="" /></a>
      </li>
      <li>
        <a><img src="/assets/images/icon-instagram.svg" alt="" /></a>
      </li>
    </ul>
  </div>
</div> -->
