<app-navbar></app-navbar>
<div class="flex flex-col">
  <div
    class="hero flex p-10 justify-between bg-cover"
    style="
      background-image: url(/assets/images/image-hero-blackcup.jpg);
      background-repeat: no-repeat;
    "
  >
    <div class="text-white pt-20">
      <p class="font-bold text-5xl" style="font-family: 'Fraunces', serif">
        Create a plan
      </p>
      <br />
      <p class="text-sm">
        Build a subscription plan that best fits your needs. We offer an <br />
        assortment of the best artisan coffees from around the globe <br />
        delivered fresh to your door
      </p>
    </div>
  </div>

  <div class="">
    <div
      class="flex rounded-md overflow-hidden text-center mt-20 bg-cover"
      style="background-image: url('/assets/images/bg-order-summary.png')"
    >
      <div class="flex-1 text-left p-6 ml-6">
        <h1
          style="
            font-family: 'Fraunces', serif;
            font-size: 50px;
            color: #fcd5b9;
          "
        >
          01
        </h1>
        <h3 class="text-white mt-3 mb-4" style="font-family: 'Fraunces', serif">
          Pick your <br />
          coffee
        </h3>
        <p class="text-white text-left" style="font-size: x-small">
          Select from our evolving range of artisan <br />
          coffees. Our beans are ethically <br />
          sourced and we pay fair prices for them. <br />
          There are new coffees in all profiles <br />
          every month for you to try out.
        </p>
      </div>
      <div class="flex-1 text-left p-6">
        <h1
          style="
            font-family: 'Fraunces', serif;
            font-size: 50px;
            color: #fcd5b9;
          "
        >
          02
        </h1>
        <h3 class="text-white mt-3 mb-4" style="font-family: 'Fraunces', serif">
          Pick your <br />
          coffee
        </h3>
        <p class="text-white text-left" style="font-size: x-small">
          Select from our evolving range of artisan <br />
          coffees. Our beans are ethically <br />
          sourced and we pay fair prices for them. <br />
          There are new coffees in all profiles <br />
          every month for you to try out.
        </p>
      </div>
      <div class="flex-1 text-left p-6">
        <h1
          style="
            font-family: 'Fraunces', serif;
            font-size: 50px;
            color: #fcd5b9;
          "
        >
          03
        </h1>
        <h3 class="text-white mt-3 mb-4" style="font-family: 'Fraunces', serif">
          Pick your <br />
          coffee
        </h3>
        <p class="text-white text-left" style="font-size: x-small">
          Select from our evolving range of artisan <br />
          coffees. Our beans are ethically <br />
          sourced and we pay fair prices for them. <br />
          There are new coffees in all profiles <br />
          every month for you to try out.
        </p>
      </div>
    </div>

    <div class="flex flex-between mt-20">
      <div class="mr-8">
        <ol
          class="custom-counter text-gray-400"
          style="font-family: 'Fraunces', serif"
        >
          <li class="hover:text-gray-700 mb-2">Preferences</li>
          <hr />
          <br />
          <li class="hover:text-gray-700 mb-2">Bean Type</li>
          <hr />
          <br />
          <li class="hover:text-gray-700 mb-2">Quantity</li>
          <hr />
          <br />
          <li class="hover:text-gray-700 mb-2">Grind Option</li>
          <hr />
          <br />

          <li class="hover:text-gray-700 mb-2">Delivereries</li>
        </ol>
      </div>
      <div class="flex-1">
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-8">
          <div class="flex">
            <div class="card bg-[#f4f1e8] p-4 rounded-md shadow-md">
              <h3 class="font-semibold mb-2" style="font-family: 'Fraunces'">
                Capsule
              </h3>
              <p class="text-gray-600 mb-4">
                Compatible with Nespresso systems and similar brewers
              </p>
            </div>
            <div class="card bg-[#f4f1e8] p-4 rounded-md shadow-md">
              <h3 class="font-semibold mb-2" style="font-family: 'Fraunces'">
                Capsule
              </h3>
              <p class="text-gray-600 mb-4">
                Compatible with Nespresso systems and similar brewers
              </p>
            </div>
            <div class="card bg-[#f4f1e8] p-4 rounded-md shadow-md">
              <h3 class="font-semibold mb-2" style="font-family: 'Fraunces'">
                Capsule
              </h3>
              <p class="text-gray-600 mb-4">
                Compatible with Nespresso systems and similar brewers
              </p>
            </div>
          </div>
        </div>

        <div class="bg-[#293037] text-white">
          <h3 class="text-gray-500">ORDER SUMARRY</h3>
          <P
            >"I drink my coffee as Filter, with a Decaf type of bean. 250g
            ground ala Cafetiere, sent to me every Week."</P
          >
        </div>
        <div class="plan">
          <input type="submit" value="Create my plan!" />
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
