<app-navbar></app-navbar>
<div class="flex flex-col">
  <div
    class="flex p-10 justify-between"
    style="
      background-image: url('https://neurosciencenews.com/files/2023/06/coffee-brain-caffeine-neuroscincces.jpg');
      background-size: cover;
      background-position: center;
    "
  >
    <div class="text-white">
      <p class="font-bold text-5xl h-[20vw]">Create a plan</p>
      <br />
      <p>
        Build a subscription plan that best fits your needs. We offer an <br />
        assortment of the best artisan coffees from around the globe <br />
        delivered fresh to your door
      </p>
    </div>
  </div>

  <div class="">
    <div
      class="flex rounded-md overflow-hidden text-center mb-8 mt-10 ml-10 mr-10"
      style="background-color: #2d343c"
    >
      <div class="max-w-[30%]">
        <h1>01</h1>
        <h3 class="text-white">Pick your coffee</h3>
        <p class="text-white">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ut amet
          obcaecati quos non doloribus rerum modi quisquam voluptas alias quasi
          nisi voluptatibus corrupti voluptate, odio eaque aut, officiis nihil
          incidunt!
        </p>
      </div>
      <div class="max-w-[30%]">
        <h1>01</h1>
        <h3 class="text-white">Pick your coffee</h3>
        <p class="text-white">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ut amet
          obcaecati quos non doloribus rerum modi quisquam voluptas alias quasi
          nisi voluptatibus corrupti voluptate, odio eaque aut, officiis nihil
          incidunt!
        </p>
      </div>
      <div class="mw-[30%]">
        <h1>01</h1>
        <h3 class="text-white">Pick your coffee</h3>
        <p class="text-white">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ut amet
          obcaecati quos non doloribus rerum modi quisquam voluptas alias quasi
          nisi voluptatibus corrupti voluptate, odio eaque aut, officiis nihil
          incidunt!
        </p>
      </div>
    </div>
    <div class="drink">
      <div></div>
      <div class="right px-6">
        <h1>How do you drink your coffee?</h1>
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4">
          <div class="bg-[#0e8684] p-4 w-[20vw] rounded-md shadow-md">
            <h3 class="font-semibold mb-2">Capsule</h3>
            <p class="text-gray-600 mb-4">
              Compatible with Nespresso systems and similar brewers
            </p>
          </div>
        </div>
      </div>
      <div class="bg-[#293037] text-white">
        <h3 class="text-gray-500">ORDER SUMARRY</h3>
        <P
          >"I drink my coffee as Filter, with a Decaf type of bean. 250g ground
          ala Cafetiere, sent to me every Week."</P
        >
      </div>
      <div class="plan">
        <input type="submit" value="Create my plan!" />
      </div>
    </div>
  </div>
</div>
