<div class="sticky top-0 z-50 px-10 py-4 mb-10">
  <nav class="flex justify-between items-center mx-auto">
    <div class="flex space-x-4 items-center">
      <a href="#" class="hover:text-brown-500 font-normal">
        <img src="/assets/images/logo.svg" alt="coffee icons" width="150px"
      /></a>
    </div>
    <div class="flex space-x-4 text-gray-500">
      <a routerLink="/" class="hover:text-brown-500 font-bold">HOME</a>
      <a routerLink="/about" class="hover:text-brown-500 font-bold">ABOUT US</a>
      <a routerLink="/plan" class="hover:text-brown-500 font-bold"
        >CREATE YOUR PLAN</a
      >
    </div>
  </nav>
</div>
<!-- <app-footer></app-footer> -->
