<div class="sticky top-0 z-50 px-10 py-4 mb-10">
  <nav class="flex justify-between items-center mx-auto">
    <div class="flex space-x-4 items-center">
      <img src="your-image-path.jpg" alt="coffee icons" class="h-6 w-6" />
      <a href="#" class="hover:text-brown-500 font-normal">Coffeeroasters</a>
    </div>
    <div class="flex space-x-4">
      <a href="#" class="hover:text-brown-500 font-normal">HOME</a>
      <a href="#" class="hover:text-brown-500 font-normal">ABOUT US</a>
      <a href="#" class="hover:text-brown-500 font-normal">CREATE YOUR PLAN</a>
    </div>
  </nav>
</div>
